.container{
  width: 100%;
  display: grid;
  //grid-template-columns: 200px 200px ;
  grid-template-rows: 100px 850px 100px;
  grid-template-areas:
   "hd hd hd hd hd hd hd hd"
   "main main main main main main main main"
   "ft ft ft ft ft ft ft ft";
  //border: 10px solid yellow;
}
.box{
 display: flex;
 align-items: center;
 justify-content: center;
 border: 10px solid red;
 padding: 5px;
}

a{
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

#header{
  grid-area: hd;
 // background-color: beige;
}
#content{
  grid-area: main;
}
#footer{
  grid-area: ft;
  background-color: azure;
}

.cardnestedgrid{
  width: 100%;
 // height: 90vh;
  display: grid;
  grid-auto-rows: minmax(400px,auto);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas:
  "crd1 crd2"
  "crd3 crd4";
  grid-gap: 10px;
 // border: 4px solid blue;
}

#cardbox1{
  grid-area: crd1;
}

#cardbox2{
  grid-area: crd2;
}
#cardbox3{
  grid-area: crd3;
}
#cardbox4{
  grid-area: crd4;
}

.card{
  box-shadow: 2px 3px 4px gray;
  text-align: center;
  width: 300px;
  height: 400px;
  margin: auto;
}
.card:hover{
  box-shadow: 2px 3px 4px red;
}

.imagestyle{
  width: 100%;
}

.cardcontainer{
  padding: 2px 16px;
}

figcaption{
  text-align: center;
  font-style: italic;
  background-color: #008CBA;
  color: white;
}
