.maincontent{ //container for grid
 width: 100%;
 display: grid;
 grid-template-rows: 100px 200px 600px 100px;
 //grid-template-columns: 700px 100px;
 grid-template-areas:
 "hd hd hd hd hd hd hd hd "
 "ct ct ct ct ct ct sos sos"
 "imgr imgr imgr imgr imgr imgr imgr imgr"
 "soc soc soc soc soc soc soc soc";
 border: 10px solid yellow;
}
#header{
  grid-area: hd;
}
//content
#blogfeat{
  grid-area: ct;
}
#imagerow{
  grid-area: imgr;
}
#sos{//social links
  grid-area: sos;
}
#socials{
  grid-area: soc;
  text-align: center;
}

.avatar{
  vertical-align: middle;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 50px 200px 50px 200px;
}

.picsize{
  max-width: 100%;
  height: auto;
  margin: 10px 150px 10px 150px;
}

.blognestedgrid{
  width: 100%;
  // height: 90vh;
   display: grid;
   grid-template-rows: 100px 600px ;
   grid-template-columns: 250px;
   grid-template-areas:
   "blg1 blg1 blg1 blg2 blg2 blg2 blg3 blg3";
  /* "blg1 blg1 blg1 blg1 blg1 blg1 blg1 blg1"
   "blg2 blg2 blg2 blg2 blg2 blg2 blg2 blg2"
   "blg3 blg3 blg3 blg3 blg3 blg3 blg3 blg3";*/
   grid-gap: 10px;
  border: 4px solid blue;

}
#blog{
  grid-area: blg;
  text-align: center;
  margin: auto;

}
#blog1{
  grid-area: blg1;
}
#blog2{
  grid-area: blg2;
}
#blog3{
  grid-area: blg3;
}

#align{
  text-align: center;
  background-color: aliceblue;
  border: 50px solid aliceblue;
}


