.designsyscontainer{
   width: 100%;
   display: grid;
   grid-auto-rows: minmax(100px,auto);
  // grid-template-columns: 200px 200px 200px;
   grid-template-areas:
   "hd hd hd hd hd hd hd hd"
   "feat feat feat feat feat feat feat feat";
   margin: 10px 15px 10px 15px;
  // border: 10px solid olive;
}


#header{
  grid-area: hd;
  background-color: azure;
}


a:link{
  font-family: 'Courier New', Courier, monospace;
  //font-weight: bolder;
  text-decoration: none;

}


a:hover{
  background-color: #008CBA;
  color: white;

}


#feature{
  grid-area: feat;
  text-align: center;

}


.nestedgrid{
  width: 100%;
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas:
  "fd cm pt pg";
  grid-gap: 10px;
  border-bottom: 2px solid red;
  border-radius: 3rem;
  //border: 10px solid royalblue;
}


#foundations{
  grid-area: fd;
}


#components{
  grid-area: cm;
}


#patterns{
  grid-area: pt;
}


#pages{
  grid-area: pg;
}




p{
  font-weight: lighter;
}



ol>li{
  font-weight: lighter;
}



h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}



#redcolor{
  vertical-align: middle;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: auto;
  color: white;
  background-color: red;
}



#bluecolor{
  vertical-align: middle;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: auto;
  color: white;
  background-color: #008CBA;
}


#azurecolor{
  vertical-align: middle;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: auto;
  color: black;
  background-color: azure;
  border: 1px solid black;
}


.bgcolor{
  background-color: grey;
  text-align: center;
  color: white;
}


/* The width 900px or less, change the appearance for small & medium screens*/
@media (max-width: 900px) {

  body{
    padding: 0px 50px 0px 50px;
  }


  .designsyscontainer h4 a{
     text-decoration: underline;
     border: none;
     background-color: transparent;

  }


  .designsyscontainer h4 a:hover{
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: black;
  }

}

